@media screen and (min-width: 481px) and (max-width: 768px){
    .about-post{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
    .about-content{
        width: 100%;
    }
    @media screen and (max-width: 550px){
        .about-post{
            width: 90%;
        }
        .about-content{
            height: 400px;
        }
        .about-content h2{
            font-size: 30px;
        }
    }
}
