@media screen and (min-width: 769px) and (max-width: 1024px){

    .about-post{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
    .about-content{
        width: 100%;
    }
}