body{
    width: 100vw;
    height: 100vh;
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
/*BRANDING*/
header .branding{
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
header .branding a{
    text-decoration: none;
    z-index: 1;
}
header .branding a h2{
    color: var(--white);
    text-decoration: none;
    font-size: var(--text18);
    font-weight: 300;
    letter-spacing: 1px;
}
/* HAMMENU*/
header #hamburger-menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1;
}
/*HAMMENU-ICON*/
header #hamburger-menu .bar, #hamburger-menu::before, #hamburger-menu:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--white);
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    transition: .4s;
}
/*HAMMENU-ICON-ANIMATION*/
header #hamburger-menu.is-active::before{
    transform: rotate(45deg) translate(40%, -20%);
}
header #hamburger-menu.is-active::after{
    transform: rotate(-45deg) translate(40%, 20%);
}
header #hamburger-menu.is-active .bar{
    opacity: 0;
}
@media screen and (max-width: 300px){
    header #hamburger-menu.is-active::before{
        transform: rotate(45deg) translate(50%, -30%);
    }
    header #hamburger-menu.is-active::after{
        transform: rotate(-45deg) translate(50%, 30%);
    }
}
/*NAV-MENU*/
#mobile-navbar{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--gray);
    top: 0;
    left: 100%;
    transition: .5s  ease-in-out;
}
#mobile-navbar.is-active{
    left: 0;
}
/*NAV-MENU-LIST*/
#mobile-navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25vh;
}
/*NAV-MENU-ELEMENTS*/
#mobile-navbar ul li{
    list-style: none;
    margin: 12px 0;
}
#mobile-navbar ul li a, #desktop-navbar ul li a{
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-size: var(--text18);
    position: relative;
    padding: 8px 0;
    letter-spacing: 1px;
    transition: .4s;
}
#mobile-navbar ul li a:hover{
    color: var(--lightGray);
}
/*SLIDE-EFFECT*/
#mobile-navbar ul li .nav-link::after, #desktop-navbar ul li .nav-link::after{
    transform-origin: left;
    bottom: 0;
}
#mobile-navbar ul li .nav-link::after, #desktop-navbar ul li .nav-link::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--lightGray) ;
    position: absolute;
    transform: scaleX(0);
    transition: .4s cubic-bezier(0.53, 0.06, 0.12, 0.88);
    left: 0;
}
#mobile-navbar ul li .nav-link:hover::after, #desktop-navbar ul li .nav-link:hover::after{
    transform: scaleX(1);
}
/*CATEGORIES-DROP-DOWN-MENU*/
#mobile-navbar ul li #categoriesLinks{
    display: none;
    background-color: var(--purple);
    width: 100vw;
}
#mobile-navbar ul li #categoriesLinks.is-active{
    display: flex;
    animation: categoriesLinks .8s forwards;
}
@keyframes categoriesLinks {
    0%{
        opacity: 0;
        transform: translateY(5%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
#categoriesBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#categoriesBtn .chevronIcon{
    font-size: 35px;
}
#categoriesBtn .chevronIcon.is-active{
    animation: chevronRight .5s forwards;
}
@keyframes chevronRight {
    0%{

    }
    100%{
        transform: rotate(90deg);
    }
}
#mobile-navbar ul li #categoriesLinks{
    margin-top: 0;
}
.navbarIcon{
    margin-left: 10px;
    font-size: 25px;
}
/*SEARCH-BAR*/
header #search-icon{
    display: none;
}
/*DESKTOP-NAVBAR-VISIBILITY*/
#desktop-navbar{
    display: none;
}
/*NAVIGATION-VISIBILITY*/
.navigation{
    display: none;
}
/*HEADER-CONTAINER*/
.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*MAIN*/
/*MAIN-SHORT DESCRIPTION*/
main .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin-top: 10px;
    text-align: center;
}
main .description .row1{
    font-size: var(--text18);
    padding: 10px 5px 0 5px;
    font-weight: 300;
    letter-spacing: 1px;
}
main .description .row2{
    font-size: var(--text16);
    padding: 5px;
    font-weight: 300;
}
/*MAIN-HEADING*/
.main-heading-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 5vh;
    z-index: -1;
}
.main-heading{
    width: 90%;
}
.main-heading h1{
    color: var(--white);
    font-weight: 900;
    font-size: var(--h1);
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.50);
}
/*HEADING-IMG*/
.main-img-container{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
}
.main-img-container img{
    width: 70%;
    border-radius: 40px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    
}
@media screen and (max-width: 380px){
    .main-heading h1{
        font-size: 48px;
    }
    .main-img-container{
        margin-top: 3vh;
    }
    .main-img-container img{
        width: 65%;
    }
}
@media screen and (max-width: 300px){
    /*DESCRIPTION*/
    main .description .row1{
        font-size: 16px;
    }
    main .description .row2{
        font-size: 14px;
    }
    /*MAIN-HEADING*/
    .main-heading h1{
        font-size: 35px;
    }
    /*HEADING-IMG*/
    .main-img-container img{
        width: 70%;
    }
}
/*EXPLORE-MORE*/
.explore-more-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.explore-more{
    width: 90%;
}
.explore-more a{
    font-size: var(--h2);
    text-decoration: none;
    color: var(--white);
    padding: 15px 22px;
    background: var(--teal);
    border-radius: 20px;
    font-weight: 400;
    transition: .4s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.explore-more a:hover{
    background: var(--purple);
    color: var(--lightGray);
}
@media screen and (max-width: 380px){
    .explore-more-container{
        margin: 10px 0 30px 0;
    }
    .explore-more a{
        font-size: var(--text18);
    }
}
@media screen and (max-width: 300px){
    .explore-more-container{
        margin: 10px 0 30px 0;
    }
    .explore-more a{
        font-size: var(--text6);
        padding: 12px 15px;
    }
}
/*TOP-RATED-POSTS*/
.post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-heading{
    width: 90%;
    font-size: var(--h2);
    padding: 25px 10px 25px 10px;
    margin-top: 30px;
    letter-spacing: 1px;
}
.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    color: var(--gray);
}
.posts a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 500px;
    background: var(--lightGray);
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
}
.content img{
    height: 60%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
}
.content .dateRead{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0 25px;
    color: var(--gray);
}
.content .dateRead p{
    font-size: var(--text18);
    letter-spacing: 1px;
}
.content h2{
    font-size: 32px;
    padding: 0 25px 35px 25px;
    color: var(--gray);
    letter-spacing: 1px;
}
@media screen and (max-width: 300px){
    .content .dateRead p{
        font-size: 14px;
    }
    .content h2{
        font-size: 29px;
    }
}


    
    
    
