@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        width: 100vw;
        height: 100vh;
        background-position: 35%;
        background-repeat: no-repeat;
    }
    /*LOGO*/
    header img{
        width: 60px;
        height: auto;
        margin-right: 15px;
    }
    /*HEADING*/
    header .branding a h2{
        font-size: var(--h2);
    }
    /*HAMMENU*/
    header #hamburger-menu{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    header #hamburger-menu .bar, #hamburger-menu:after{
        margin: 8px 0;
    }
    #mobile-navbar ul li a{
        font-size: 35px;
    }
    header #hamburger-menu.is-active::before{
        transform: rotate(45deg) translate(50%, -30%);
    }
    header #hamburger-menu.is-active::after{
        transform: rotate(-45deg) translate(50%, 30%);
    }
}