@media screen and (max-width: 480px){
    body{
        width: 100vw;
        height: 100vh;
        background-position: 35%;
        background-repeat: no-repeat;
        background-size: 1800px;
    }
    @media screen and (max-height: 700px){
        body{
            background-size: 1200px;
        }
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .branding{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header img{
        width: 100px;
        height: auto;
        z-index: 1;
    }
    header .search-icon{
        display: none;
    }
    header .branding a{
        color: var(--white);
        text-decoration: none;
        letter-spacing: 1px;
        z-index: 1;
    }
    /* HAMMENU*/
    header .hamburger-menu{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-right: 30px;
        z-index: 1;
    }
    /*HAMMENU-ICON*/
    header .hamburger-menu .bar, .hamburger-menu::before, .hamburger-menu:after{
        content: "";
        width: 100%;
        height: 3px;
        background-color: var(--white);
        display: block;
        margin: 5px 0;
        border-radius: 5px;
        transition: .4s;
    }
    header .hamburger-menu.is-active::before{
        transform: rotate(45deg) translate(40%, -20%);
    }
    header .hamburger-menu.is-active::after{
        transform: rotate(-45deg) translate(40%, 20%);
    }
    header .hamburger-menu.is-active .bar{
        opacity: 0;
    }
    .desktop-navbar{
        display: none;
    }
    /*NAV-MENU*/
    #mobile-navbar{
        width: 100%;
        height: 100vh;
        position: fixed;
        background: var(--gray);
        backdrop-filter: 15px;
        top: 0;
        left: 100%;
        transition: .5s  ease-in-out;
    }
    #mobile-navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20vh;
    }
    #mobile-navbar ul li{
        list-style: none;
        margin: 10px 0;
    }
    #mobile-navbar ul li a{
        color: var(--white);
        text-decoration: none;
        font-size: 1.6em;
        position: relative;
        padding: 8px 0;
        letter-spacing: 1px;
    }
    #mobile-navbar.is-active{
        left: 0;
    }
    #mobile-navbar ul li #explore-more{
        font-size: 30px;
    }
    #mobile-navbar ul .explore-more-links{
        margin: 0;
        display: none;
    }
    #mobile-navbar ul .explore-more-links.is-active, #category.is-active{
        display: flex;
    }
    .icon{
        margin-left: 10px;
        font-size: 25px;
    }
    #mobile-navbar ul li .nav-link.media-nav-link{
        display: flex;
        align-items: center;
        font-size: 20px;
    }


    
}