@media screen and (min-width: 1025px){
    body{
        background-repeat: no-repeat;
    }
    header{
        justify-content: space-evenly;
    }
    /*LOGO*/
    header img{
        width: 60px;
        height: auto;
        margin-right: 15px;
    }
    /*HEADING*/
    header .branding a h2{
        font-size: var(--h2);
    }
    /*HAMMENU*/
    header #hamburger-menu{
        display: none;
    }
    /*NAVBAR*/
    header #mobile-navbar{
        display: none;
    }
    header .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header #desktop-navbar{
        display: flex;
        justify-content: space-around;
    }
    header #search-icon{
        display: flex;
    }
    header #desktop-navbar #categoriesLinksDesktop{
        display: none;
        flex-direction: column;
    }
    header #desktop-navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header #desktop-navbar ul li{
        list-style: none;
        margin-right: 40px;
    }
    header #desktop-navbar ul li a{
        font-size: 18px;
        transition: .4s;
    }
    header #desktop-navbar ul li a:hover{
        color: var(--lightGray);
    }
    header #desktop-navbar .navbarIcon{
        font-size: 20px;
    }
    #desktop-navbar .chevronIcon{
        font-size: 30px;
    }
    #desktop-navbar .chevronIcon.is-active{
        animation: chevronRight .2s forwards;
    }
    #categoriesLinksDesktop{
        position: absolute;
    }
    #desktop-navbar #categoriesLinksDesktop.is-active{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 500px;
        height: 400px;
        background-color: var(--gray);
        border-radius: 15px;
        right: 31%;
        top: 10%;
        padding: 20px;
        animation: categoriesLinks .8s forwards;
    }
    #desktop-navbar #categoriesLinksDesktop li{
        margin: 0;
    }
    .media .navbarIcon{
        margin: 0;
        padding: 5px;
    }
    .media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 1500px){
        .navigation{
            width: 55%;
        }
        #search-icon{
            width: 35%;
        }
    }
    /*SLIDE-EFFECT*/
    #desktop-navbar ul li #category::after{
        transform-origin: left;
        bottom: 0;
    }
    #desktop-navbar ul li #category::after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--lightGray) ;
        position: absolute;
        transform: scaleX(0);
        transition: .4s cubic-bezier(0.53, 0.06, 0.12, 0.88);
        left: 0;
    }
    #desktop-navbar ul li #category:hover::after{
        transform: scaleX(1);
    }
    #desktop-navbar ul li #category{
        transition: .4s;
    }
    #desktop-navbar ul li #category:hover{
        color: var(--lightGray);
    }
    /*SEARCH-ICON*/
    #search-icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #search-icon .search{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    #search-icon .search span{
        font-size: 30px;
        padding: 5px;
        color: var(--white);
    }
    #search-icon .search input{
        width: 90%;
        height: 28px;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
    }
    #search-icon .patreon i{
        font-size: 25px;
        padding: 10px;
        color: var(--white);
        transition: .6s;
    }
    #search-icon .patreon i:hover{
        font-size: 25px;
        background-color: var(--gray);
        border-radius: 50%;
        color: var(--lightGray);
    }

    /*MAIN-HEADING*/
    main{
        display: flex;
        flex-direction: column;
    }
    .main-hero-container{
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 90%;
        margin-top: 10vh;
    }
    .main-heading-container{
        padding: 0;
        justify-content: flex-start;
        height: 50%;
        width: 40%;
        margin-top: 0;
    }
    .main-heading h1{
        font-size: 95px;
    }
    /*HEADING-IMG*/
    .main-img-container{
        display: flex;
        margin-top: 0;
    }
    .main-img-container img{
        width: 50%;
    }
    /*EXPLORE-MORE*/
    .explore-more-container{
        padding: 0;
        margin-top: 35px;
        position: absolute;
        top: 65%;
    }
    .explore-more{
        width: 100%;
    }
    .explore-more a{
        font-size: var(--h2);
        text-decoration: none;
        color: var(--white);
        padding: 16px 25px;
        background: var(--teal);
        border-radius: 20px;
        font-weight: 400;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    .explore-more a:hover{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    }
    

}