@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        width: 100vw;
        height: 100vh;
        background-position: 35%;
        background-repeat: no-repeat;
    }
    header{
        padding: 20px;
    }
    header .braning{
        font-size: 15px;
    }
    header img{
        width: 80px;
        height: auto;
    }
    header .branding a{
        font-size: var(--text20);
    }
    header #hamburger-menu{
        width: 40px;
        height: 40px;
        margin: 0 50px 0 0;
    }
    header #hamburger-menu .bar, #hamburger-menu:after{
        margin: 10px 0;
    }
    #mobile-navbar ul li a{
        font-size: 28px;
    }
    header #hamburger-menu.is-active::before{
        transform: rotate(45deg) translate(50%, -30%);
    }
    header #hamburger-menu.is-active::after{
        transform: rotate(-45deg) translate(50%, 30%);
    }


}