/*MAIN*/
/*MAIN-SHORT DESCRIPTION*/
main .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin-top: 10px;
    text-align: center;
}
main .description .row1{
    font-size: var(--text18);
    padding: 10px 5px 0 5px;
    font-weight: 300;
    letter-spacing: 1px;
}
main .description .row2{
    font-size: var(--text16);
    padding: 5px;
    font-weight: 300;
}
/*MAIN-HEADING*/
.main-heading-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 5vh;
    z-index: -1;
}
.main-heading{
    width: 90%;
}
.main-heading h1{
    color: var(--white);
    font-weight: 900;
    font-size: var(--h1);
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.50);
}
/*HEADING-IMG*/
.main-img-container{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
}
.main-img-container img{
    width: 70%;
    border-radius: 40px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.65);
    
}
@media screen and (max-width: 380px){
    .main-heading h1{
        font-size: 48px;
    }
    .main-img-container{
        margin-top: 3vh;
    }
    .main-img-container img{
        width: 65%;
    }
}
@media screen and (max-width: 300px){
    /*DESCRIPTION*/
    main .description .row1{
        font-size: 16px;
    }
    main .description .row2{
        font-size: 14px;
    }
    /*MAIN-HEADING*/
    .main-heading h1{
        font-size: 35px;
    }
    /*HEADING-IMG*/
    .main-img-container img{
        width: 70%;
    }
}
/*EXPLORE-MORE*/
.explore-more-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.explore-more{
    width: 90%;
}
.explore-more a{
    font-size: var(--h2);
    text-decoration: none;
    color: var(--white);
    padding: 15px 22px;
    background: var(--teal);
    border-radius: 20px;
    font-weight: 400;
    transition: .4s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.explore-more a:hover{
    background: var(--purple);
    color: var(--lightGray);
}
@media screen and (max-width: 380px){
    .explore-more-container{
        margin: 10px 0 30px 0;
    }
    .explore-more a{
        font-size: var(--text18);
    }
}
@media screen and (max-width: 300px){
    .explore-more-container{
        margin: 10px 0 30px 0;
    }
    .explore-more a{
        font-size: var(--text6);
        padding: 12px 15px;
    }
}
/*TOP-RATED-POSTS*/
.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.post-heading{
    width: 90%;
    font-size: var(--h2);
    padding: 25px 10px 25px 10px;
    letter-spacing: 1px;
}
.posts{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    color: var(--gray);
}
.content{
    display: flex;
    justify-content: center;
}
.content a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 410px;
    background: var(--lightGray);
    border-radius: 30px;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    margin-top: 10px;
}
.content a img{
    height: 55%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
}
.content a .dateRead{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 5px 25px;
    color: var(--gray);
}
.content .dateRead p{
    font-size: var(--text18);
}
.content h2{
    font-size: 30px;
    padding: 0 25px 35px 25px;
    color: var(--gray);
    letter-spacing: 1px;
}
.post-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 300px){
    .posts{
        grid-gap: 30px;
    }
    .content{
        height: 400px;
    }
    .content .dateRead{
        padding: 10px 20px 0 20px;
    }
    .content .dateRead p{
        font-size: 14px;
    }
    .content h2{
        font-size: 28px;
        padding: 0 20px 20px 20px;
    }
}
/*AD*/
.ad-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad{
    width: 50%;
    height: 80px;
    background: rgb(179, 0, 0);
    margin: 30px 0 30px 0;
}
/*CATEGORIES-POSTS*/
.categories-posts-container{
    background: var(--purple);
}
.categories-posts{
    display: grid;
    grid-template-columns: 100%;
    padding-top: 30px;
}
.single-post, .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.single-post .media-platform{
    font-size: 35px;
    padding: 20px 10px;
    color: var(--white);
    letter-spacing: 1px;
}
.single-post .content a{
    background: var(--teal);
    margin-bottom: 30px;
}
@media screen and (max-width: 300px){
    .single-post .media-platform{
        font-size: 30px;
    }
}
/*AD-TWO*/
.ad-container.two{
    background: var(--purple);
    position: relative;
}
/*SIDE-BAR*/
.side-bar{
    display: none;
}