@media screen and (min-width: 481px) and (max-width: 768px){
        /*MAIN-HEADING*/
        .main-heading h1{
            font-size: 80px;
        }
        /*HEADING-IMG*/
        .main-img-container img{
            width: 55%;
        }
        @media screen and (max-width: 550px){
            /*MAIN-HEADING*/
            .main-heading h1{
                font-size: 60px;
            }
            /*HEADING-IMG*/
            .main-img-container img{
                display: none;
            }
        }
        /*EXPLORE-MORE*/
        .explore-more a{
            padding: 18px 23px;
        }
        @media screen and (max-width: 550px){
            .explore-more a{
                padding: 15px 22px;
            }
        }
        /*TOP-RATED-POSTS*/
        .content{
            width: 70%;
            height: 700px;
        }
        .content .dateRead{
            display: flex;
            justify-content: space-between;
            padding: 10px 25px 0 25px;
            color: var(--gray);
        }
        .content .dateRead p{
            font-size: 22px;
            letter-spacing: 1px;
        }
        .content h2{
            width: 80%;
            font-size: 45px;
            padding: 0 25px 35px 25px;
            color: var(--gray);
            letter-spacing: 1px;
        }
        .post-heading{
            padding: 30px 10px 32px 10px;
        }
        .post-heading h2{
            font-size: 45px;
        }
        @media screen and (max-width: 550px){
            .post-container{
                margin-top: 250px;
            }
            .content{
                height: 600px;
            }
            .post-heading h2{
                font-size: 40px;
            }
            .content h2{
                font-size: 40px;
                width: 100%;
            }
            .content .dateRead p{
                font-size: var(--text18);
            }
        }
        /*SINGLE-POSTS*/
}