@media screen and (min-width: 769px) and (max-width: 1024px){
        /*MAIN-HEADING*/
        .main-heading h1{
            font-size: 85px;
        }
        /*HEADING-IMG*/
        .main-img-container img{
            width: 60%;
        }
        /*EXPLORE-MORE*/
        .explore-more a{
            padding: 20px 27px;
        }
        /*TOP-RATED-POSTS*/
        .content{
            width: 70%;
            height: 700px;
        }
        .content .dateRead{
            display: flex;
            justify-content: space-between;
            padding: 10px 25px 0 25px;
            color: var(--gray);
        }
        .content .dateRead p{
            font-size: 24px;
            letter-spacing: 1px;
        }
        .content h2{
            width: 80%;
            font-size: 45px;
            padding: 0 25px 35px 25px;
            color: var(--gray);
            letter-spacing: 1px;
        }
        .post-heading{
            padding: 30px 10px 32px 10px;
        }
        .post-heading h2{
            font-size: 45px;
        }
}