@media screen and (min-width: 769px) and (max-width: 1024px){
    /*MAIN-HEADING*/
    .main-heading h1{
        font-size: 85px;
    }
    /*HEADING-IMG*/
    .main-img-container img{
        width: 60%;
    }
    /*EXPLORE-MORE*/
    .explore-more a{
        padding: 20px 27px;
    }
    /*TOP-RATED-POSTS*/
    .posts{
        grid-template-columns: 1fr 1fr;
        width: 90%;
        grid-gap: 30px;
    }
    .content{
        width: 100%;
        height: 410px;
    }
    .content a{
        width: 100%;
    }
    .content .dateRead{
        display: flex;
        justify-content: space-between;
        padding: 10px 25px 0 25px;
        color: var(--gray);
    }
    .content .dateRead p{
        font-size: var(--text18);
    }
    .content h2{
        font-size: 32px;
        color: var(--gray);
        letter-spacing: 1px;
    }
    .post-heading{
        padding: 30px 10px 30px 10px;
    }
    .post-heading h2{
        font-size: 45px;
    }
    @media screen and (max-width: 550px){
        .post-container{
            margin-top: 250px;
        }
        .content{
            height: 600px;
        }
        .post-heading h2{
            font-size: 40px;
        }
        .content h2{
            font-size: 40px;
            width: 100%;
        }
        .content .dateRead p{
            font-size: var(--text18);
        }
    }
    /*SINGLE-POSTS*/
    .categories-posts-container{
        display: flex;
        justify-content: center;
    }
    .categories-posts{
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
        grid-gap: 30px;
    }
    .single-post, .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
    }
    .single-post .media-platform{
        font-size: 35px;
        padding: 20px 10px;
        color: var(--white);
    }
    .single-post .content a{
        background: var(--teal);
    }
    .single-post .content{ 
        margin-bottom: 30px;
    }
}