@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(/images/foxieBackground.svg);
}
:root{
    --white: #fff;
    --lightGray: #f0f0f0;
    --gray: #232329;
    --teal: #1396c2;
    --purple: #5521ba;
    --text16: 16px;
    --text18: 18px;
    --text20: 20px;
    --h1: 52px;
    --h2: 22px;
}